#chart-container
  #chart
  .grid-container
    %form#test-chart
      .items
        = 'Name: '
        %input{type: 'text', id: 'chart-name'}
      .item
        = 'Chart Type: '
        %select#chart-type
          %option{value: 'bar'}
            Bar
          %option{value: 'column'}
            Column
          %option{value: 'area'}
            Area
          %option{value: 'line'}
            Line
          %option{value: 'pie'}
            Pie
          %option{value: 'scatter'}
            Scatter
      .item
        = 'Xaxis Catagories: '
        %input#xCatagories{type: 'text'}
      .item
        = 'Yaxis name: '
        %input#yAxisTitle{type: 'text'}
      .item
        = 'Data name: '
        %input#dataName{type: 'text'}
      .item.data-fields
        = 'Data values: '
        %input#dataValues{type: 'text'}
      .item
        %button#moreFields{type: 'button'}
          Add More Fields
      .item
        %button{type: 'submit'}
          Build Chart
    
  %pre#csv-data
    Date,Level
    2017-10-02,4,
    2017-10-02,2,
    2017-10-02,12,
    2017-10-02,4,
    2017-10-03,2,
    2017-10-03,9,
    2017-10-03,4,
    2017-10-03,4,
    2017-10-03,4,
    2017-10-04,2,
    2017-10-04,5,
    2017-10-04,2,
    2017-10-04,14,
    2017-10-04,2,
    2017-10-04,2,
    2017-10-05,4,
    2017-10-05,5,
    2017-10-05,4,
    2017-10-05,5,
    2017-10-06,2,
    2017-10-06,4,
    2017-10-06,4,
    2017-10-06,2,
    2017-10-09,2,
    2017-10-09,4,
    2017-10-09,5,
    2017-10-10,4,
    2017-10-10,2,
    2017-10-10,2,
    2017-10-10,5,
    2017-10-10,9,
    2017-10-11,2,
    2017-10-11,2,
    2017-10-11,9,
    2017-10-12,2,
    2017-10-12,5,
    2017-10-12,2,
    2017-10-12,2,
    2017-10-12,9,
    2017-10-12,4,
    2017-10-13,4,
    2017-10-13,7,
    2017-10-13,4,
    2017-10-13,4,
    2017-10-16,2,
    2017-10-16,9,
    2017-10-16,2,
    2017-10-16,11,
    2017-10-16,2,
    2017-10-16,9,
    2017-10-17,5,
    2017-10-17,4,
    2017-10-17,5,
    2017-10-17,2,
    2017-10-18,2,
    2017-10-18,2,
    2017-10-18,4,
    2017-10-18,2,
    2017-10-18,4,
    2017-10-19,2,
    2017-10-19,2,
    2017-10-19,4,
    2017-10-20,2,
    2017-10-20,2,
    2017-10-20,2,
    2017-10-20,4,
    2017-10-23,2,
    2017-10-24,2,
    2017-10-24,2,
    2017-10-25,2,
    2017-10-25,4,
    2017-10-25,2,
    2017-10-26,12,
    2017-10-26,11,
    2017-10-26,2,
    2017-10-26,2,
    2017-10-27,5,
    2018-03-01,4,
    2018-03-02,5,
    2018-03-05,5,
    2018-03-05,38,
    2018-03-06,2,
    2018-03-06,5,
    2018-03-07,4,
    2018-03-08,2,
    2018-03-08,4,
    2018-03-09,41,
    2018-03-12,2,
    2018-03-12,48,
    2018-03-13,23,
    2018-03-14,2,
    2018-03-14,40
